.film-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    padding: 8px 8px 16px 8px;
    width: 282px;
    height: 100%;

    border-radius: 12px;
    background: var(--Card-background);
    backdrop-filter: var(--Card-filter);

    text-decoration: none;
}

.film-card__img {
    width: 266px;
    height: 400px;
    border-radius: 10px;
    background: var(--Black-10) center / contain no-repeat;
}

.film-card__rating {
    position: absolute;
    top: 16px;
    left: 16px;
}

.film-card__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-grow: 1;

    padding: 8px;

}

.film-card__name {

    color: var(--Grey-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.film-card__add-button {
    margin-top: auto;
}