:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* colors */
  --White-100: #FFFFFF;

  --Primary-900: #120F31;
  --Primary-800: #251E62;
  --Primary-700: #362C92;
  --Primary-600: #483BC3;
  --Primary-500: #5A4AF4;
  --Primary-400: #7B6EF6;
  --Primary-300: #9C92F8;
  --Primary-200: #BEB7FB;
  --Primary-100: #DEDBFD;
  --Primary-50: #EBE9FE;

  --Grey-900: #121829;
  --Grey-300: #8E95A9;
  --Grey-50: #EBEEF5;



  color: var(--Grey-300);
  background-color: var(--Grey-900);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}