.nav {
    display: block;
}

.nav__list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: var(--Grey-200);
    letter-spacing: 0.32px;

    transition: color 0.3s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--White-100);
}

.nav__counter {
    display: block;
    min-width: 24px;
    min-height: 24px;

    flex-shrink: 0;
    background-color: var(--Primary-400);
    color: var(--White-100);
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.28px;
}